@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <h1 class="display-4">Claudia Serna</h1>
    <p class="lead">Desarrollador web</p>
    <p class="lead">

</div>

<div class="container">
    <h2>Sobre mi</h2>
    <div class="row pt-5">
        <div class="col-lg-4 col-sm-10">
            <img src="~/img/mensaje.svg" width="200" />
        </div>
        <div class="col-lg-8 col-sm-10">

            <p>Programador orientado a la creación de páginas web.</p>
            <p>Conozco las tecnologías de programación web como son C#, HTML, CSS JavaScript, Bootstrap, etc. Con estas tecnologías puedo programar y diseñar páginas web y tiendas online a medida..</p>

        </div>
    </div>
</div>

<div class="container bg-light">
    <h2>Proyectos</h2>
    <div class="container row pt-5">
        <div class="col-lg-4">
            <img width="140" height="140" src="~/img/calculadora.svg" />
            <h2>Calculadora</h2>
            <p>Aplicación que realiza las operaciones elementales y algunas más.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver »</a></p>
        </div>
        <div class="col-lg-4">
            <img width="140" height="140" src="~/img/extracto-de-cuenta.svg" />
            <h2>Gastos del hogar</h2>
            <p>Una aplicación sencilla que permite realizar el cálculo de los gastos del hogar.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver »</a></p>
        </div>
        <div class="col-lg-4">
            <img width="140" height="140" src="~/img/cuaderno.svg" />
            <h2>Agenda</h2>
            <p>Aplicación para realizar una lista de cosas por hacer.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver »</a></p>
        </div>
    </div>
</div>

    <div class="container">
        <h2>Contacto</h2>
        <div class="row pt-5">
            <div class="col-lg-8 col-sm-10">
                <p>Desarrollamos páginas web a medida, adaptándonos a tus necesidades y a las de tu negocio.</p>
                <p>Para más inforación póngase en contacto.</p>

                <p><a class="btn btn-secondary" href="/Contacto" role="button">Ver »</a></p>
            </div>
            <div class="col-lg-4 col-sm-10">
                <img src="~/img/discusion.svg" width="200" />
            </div>

        </div>
    </div>
    
